.header{
    height:120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d)
}

.header__navbar{
    display:flex;
    justify-content:space-between;
}
.header__navbar-list{
    list-style:none;
    padding-left: 0;
    margin-top:4px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height:26px;
}

.header__navbar-item--has-notify:hover .header__notify{
    display:block;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display:inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight:300;
    /* chu mong di */
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color:rgba(255,255,255,0.7);
    cursor:pointer;
}

.header__navbar-item--strong{
    font-weight:500;
}

.header__navbar-item-link{

}

.header__navbar-item--saparate::after{
    content: "";
    display: block;
    position:absolute;
    height: 16px;
    border-left: 3px solid #FB9086;
    top:50%;
    right:-9px;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration:none;
}

.header__navbar-icon{
    font-size:1.8rem;
    margin:0 6px;
}

.header__navbar-title-no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* header QR */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position:absolute;
    left:0;
    top: 116%; /* chieu cao bang chinh no*/
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

/* cau noi cho hover qr */
.header__qr::before{
    content: "";
    display: block;
    position:absolute;
    width: 100%;
    height: 18%;
    top:-20px;
    left:0;
}

.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:last-child{
    margin-right: 11px;
}

.header__qr-download-img{
    height: 15px;
}

/* animation for QR; using keyframe with transition - hung - t.gian-s */
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* header notification */
.header__notify{
    position:absolute;
    top:118%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    /* transform-orgin: chi ra hieu ung tu toa do nao */
    animation: headerNotifyGrowth ease-in 0.2s;
    /* prefix css */
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    /* browser se toi uu cho chuyen dong */
    display:none;
}

.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after{
    content:"";
    position:absolute;
    display: block;
    background-color: transparent;
    width: 100px;
    height:20px;
    /* = qua chuong */
    right: 0;
    top: -16px;
}

@keyframes headerNotifyGrowth {
    from{
        opacity:0;
        /* hiện từ mờ dần */
        transform: scale(0); 
        /* do phong to thu nho */
    }
    to{
        opacity:1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color:#999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
    /* -webkt-user-select: text; Prefix: -webkit- danh cho Chrome, Edge, coc; -moz- firefox; -ms- IE */
    /* line-height = chieu cao cua dad item; no se o center */
}

.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
    background-color: rgb(238, 77, 45,0.08);
}

.header__notify-item:hover{
    background-color: rgb(242, 237, 237);
}

.header__notify-item--viewed{
    background-color: var(--white-color);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    flex:1;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
    /* de hinh khong bi meo */
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    line-height:1.8rem;
}
.header__notify-description{
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.7rem;
    margin-top: 4px;
}

/* Navbar: Notify-footer */
.header__notify-footer{
    /* text-align: center; */
    /* display: flex; */
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    width:100%;
    padding: 8px 0;
    /* margin:auto; */
    font-size:1.4rem;
    font-weight:400;
    text-align:center;
}
