.img-container {
    width: 600px;
    height: 300px;
    text-align: center;
    /* can phan tu ben trong no ra center */
}

.pic {
    /* display: block; */
    margin: 0 auto;
    /* margin ko co tac dung voi the inline */
    overflow: hidden;
    width: 50%;
    object-fit: cover;
    object-position: bottom;
    height: 50%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* bai 1 */
.box {
    width: 20rem;
    height: 30rem;
    background-color: #ffa400;
    color: black;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 4px;
    /* align-items: center; */
    text-align: center;
    border: 4px solid yellow;
}

/* bai 2 */
.box2 {
    max-width: 50rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

/* bai 3 */
.box3 {
    max-width: 10rem;
    /* display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: green;
}

/* bai 4 */
.box4 {
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1689015040813-e16a11fc3085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=436&q=80") no-repeat center right / cover;
    /* background-size: cover;
    background-position: right;
    background-repeat: no-repeat; */
}

/* bai5 */
/* .box5{
    width: 40rem;
    height: 40rem;
}
.box5.img{
    object:fit;
    overflow: hidden;
} */
.image {
    width: 40rem;
    height: 40rem;
    /* hinh tron */
    border-radius: 50%;
    object-fit: cover;
}

/* bai 7 */
.link {
    text-decoration: none;
    padding: 1rem 5rem;
    text-align: center;
    background: violet;
    color: white;
    margin-left: 2rem;
}

.link--rounded {
    border-radius: 5px;
}

.link--round {
    border-radius: 2rem;
}

.link:hover {
    background-color: white;
    color: black;
}

/* gradient box & text */
.boxed {
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
}

.title {
    font-weight: bold;
    font-size: 3rem;
    background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* background overlay gradient */
.background {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(125, 230, 73, 0.8) 30%, rgba(0, 195, 255, 0.7) 50%), url("https://images.unsplash.com/photo-1606041008023-472dfb5e530f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxvd2VyfGVufDB8fDB8fHww&auto=format&fit=crop&w=1000&q=60");
    background-size: cover;
}

/* dang kiem tra la ko ho tro */
@supports (-webkit-background-clip: text) {
    .title {
        background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

/* opacity visibility display */
.boxed {
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
    cursor: pointer;
    /* opacity: 0; */
    /* opacity van chiem dien tich,co the  nhan vo dc */
    /* visibility:hidden; */
    /* visibility: van chiem dien tich, n0 ko nhan vo duoc */
    display: none;
    /* display:none -> bien mat hoan toan */
}

/* shadow box */
.shadow {
    width: 20rem;
    height: 20rem;
    background-color: black;
    margin: 5rem auto;
    box-shadow: 15px 19px 14px 20px rgba(47, 78, 255, 0.548);
    /* box-shadow: x y blur scale color
        de chay bong sang phai dung so -x
        scale = 0 no se trung voi item;
        khong anh huong phan tu khac; ko day phan tu khac
    */
}

/* shadow text */
.shadow-text {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 5px 5px 10px orangered;
}

:root {
    --primary-color: #00aefd;
    --second-color: #ffa400;
    /* sd: var(--second-color)
        co the sd bien cuc bo cung ten de cai de mau trong 1 item nao do;
    */
}

/* do uu tien css
    tag < class <tag.class < id <tag.id < inline < !important
    class < tag.class

    inline & important sieu manh
*/

#title {
    color: blueviolet;
}

/* 1 0 0 */
h2#title {
    color: pink;
}

/* 1 0 1 */

.title {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
}

/* 0 1 0 */

/* h2{
    color: blue !important;
} */


h2.title {
    color: blue;
}

/* 0 1 1 */

/* (x,y,z) -> (tags, class or attribute, id) */

/* child selector */
ul {
    font-size: 4rem;
    font-weight: bold;
}

li:first-child {
    color: red;
}

li:last-child {
    color: aqua;
}

li:nth-child(2) {
    color: pink;
}

li:nth-child(4) {
    color: blueviolet;
}

/* chon khi sinh code dong */
/* nth-last-child -> hoat dong tu cuoi len tren; 
    nguoc voi nth-child
    vd: cai ke cuoi
*/
li:nth-last-child(2) {
    color: yellowgreen;
}

/* cho tat ca tru cai dau tien */
li:not(:first-child) {
    color: green;
}

/* khong phai cai cuoi cung */
li:not(:last-child) {
    color: brown;
}

/* cho phan tu le - odd */
li:nth-child(odd) {
    color: chartreuse;
}

/* chon phan tu chan - even */
li:nth-child(even) {
    color: crimson;
}

/* n o day la chi so index chay tu 0; 
    vd: 1, 3, 5
*/
li:nth-child(2n + 3) {
    color: rgb(216, 237, 31);
}

/* combination */
/* dau + la lien ke */
h3+.title {
    color: green;
}

/* dau ~ cung cap nhung khong nhat thie la lien ke */
h3~.title2 {
    color: red;
}

/* selector nang cao */
/* vd: lua chon the a co href start= https */

a[href^="https"] {
    color: red;
}

/* the a ket thuc voi .vn */
a[href$=".vn"] {
    color: cyan;
}

/* cho chua = * */
a[href*="www"] {
    color: brown;
}

div[data-title="value"] {
    color: blueviolet;
}

p::first-letter {
    color: red;
    font-size: 4rem;
}

p::first-line {
    color: cadetblue;
}

/* basic transition */
.boxed2 {
    /* font-size: 20rem; */
    width: 20rem;
    height: 20rem;
    background-color: red;
    transition: background-color 1s linear, color 1.2s ease;
    opacity: 0;
    /* visibility: hidden; */
    /* display: none; */
    /* transition: background-color 1s linear;
    transition-delay: 1s; */
    /* transition: hieu ung thay doi khi chuyen dong
        transition: property timer easing;
    */
    /* ap dung toan bo */
    /* transition: all 0.2s ease-in-out; */
    /* transition khong ap dung dc voi display:none */
}

.wrap {
    width: 20rem;
    height: 20rem;
}

.wrap:hover .boxed2 {
    display: inline-block;
}

.boxed2:hover {
    background-color: green;
    color: white;
    opacity: 1;
}

.text-gradient {
    display: inline-block;
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    /* gradient for text */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, #ff4895, #ffd96a);
}

.button {
    display: inline-block;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 6px;
    margin: 2rem;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #50cfc6, #68ecac);
    box-shadow: 0 0 10px 0 rgba(104, 236, 172, 0.852);
}

.color__item {
    width: 10rem;
    height: 15rem;
    border-radius: 4px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    transition: background-color 0.25s linear;
}

.color__item:first-child {
    background-color: #a24bf0;
}

.color__item:first-child:hover {
    background-color: #d91fb7;
}

.color__item:nth-child(2) {
    background-color: #38dbb2;
}

.color__item:nth-child(3) {
    background-color: #3881db;
}

.color__item:nth-last-child(2) {
    background-color: #c5db38;
}

.color__item:last-child {
    background-color: #da7070;
}

.color__item:nth-child(odd) {
    background-color: #e29b15;
}

.color__item:nth-child(even) {
    background-color: #c86d12;
}

.color__item:not(:last-child) {
    background-color: #1bed96;
}

.color__item+.color__item {
    background-color: #e01a8a;
}

.color__item~.color__item {
    background-color: #c6a0a0;
}

/* bai 4 */
.color__item:hover {
    background-color: green;
}

/* bai 5 */
div[data-link^="https"] {
    color: rgb(93, 4, 4);
}

div[data-link$=".vn"] {
    color: orange;
}

div[data-name*="hello"] {
    color: antiquewhite;
}

input[type="email"] {}

input[name="fullname"] {}

.boxed {
    width: 10rem;
    height: 5rem;
    background-color: hsl(69, 86%, 50%);
    /* transform: scaleX(2) scaleY(3);
    /* transform: scale(0.2,5); */
    /* transform: rotate(-45deg); */
    /* transform: translateX(10px) translateY(20px); */
    /* dich chuyen xuong = width cua no */
    /* transform: translateX(100%) translateY(100%); */
    /* ra giua */
    /* transform: translateX(-50%) translateY(-50%); */
    /* short hand */
    /* transform: scale(2) rotate(45deg) translate(100%,50%); */

    margin: 5rem;
    transform: rotateZ(45deg);
    /* transform: skewX(-30deg) skewY(-30deg); */
    /* transform: scale scaleX(gap may lan) scaleY
        transform: rotate(deg)  rotateX theo truc x; rotateY theo y rotateZ theo mat phang
        translate: translate translateX translateY - dich chuyen sang x len y
        - skew: skewX skewY keo theo kieu hinh binh hanh
    */
}

/* transform
    bien doi item, khong lam anh huong item #
*/
/* position: relative, */

/* top left bottom right chi di kem voi position 
    co top thi bottom ko chay
    co left thi right ko chay
*/
p {
    color: wheat;
    /* zindex chi active khi di kem cung position */
    position: relative;
    z-index: 1;
}

.wrap {
    width: 100%;
    height: 50rem;
    background-color: black;
    position: relative;
}

.boxed {
    width: 5rem;
    height: 5rem;
    background-color: #2497de;
    position: absolute;
    z-index: 2;
    /* top: 10px; */
    /* left: 10px; */
    /* right:10px; */
    /* bottom: 10px; */
    /* can giua sd absolute */
    /* left:50%;
    top:50%; */
    /* margin-top: -50px;
    margin-left: -50px; */
    /* transform: translate(-50%, -50%); */

    /* can giua theo x */
    /* left:50%;
    transform: translateX(-50%); */

    /* can giua theo y */
    /* top:50%;
    transform: translateY(-50%); */

    /* overlay all 1*/
    /* top:0; left:0;
    width: 100%;
    height: 100%; */

    /* overlay all 2 */
    /* top:0; left:0; bottom:0; right:0;
    width: auto; height: auto; */

    /* overlay theo x */
    /* width: auto;
    top: 0;right: 0;left: 0; */

    /* overlay theo y; neu height=100% thi ko can bottom:0 */
    height: auto;
    top: 0;
    bottom: 0;
}

/* position: fixed
    chi chay theo body cua html;
    khong chay theo the cha chua no;
    khi dung fixed khong nen di kem: transform: translate;
    -> no se loi;
    khi phan tu cha chua no co transform:translate -> se gay loi cho phan tu fixed;
*/
body {
    height: 2000px;
}

.header {
    width: 100%;
    height: 10rem;
    background-color: #0ec6b0;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    padding-top: 10rem;
}

.wrapper {
    /* transform: translate(50px, 50px); */
    width: 50%;
    height: 50%;
    position: relative;
    top: 50px;
    background-color: #49d013;
}

/* vd position 1 */
body {
    width: 100%;
    background-color: #fff;
    height: 100vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #00000013;
}

.modal__content {
    background-color: #fff;
    width: 80%;
    height: 80%;
    padding: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* positon 2 */
.video {
    width: 500px;
    height: 300px;
    position: relative;
}

.video__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__icon {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:root {
    --primary-color: rgb(255, 157, 0);
}

.card {
    width: 20rem;
    height: 60rem;
    background-color: #000;
    position: relative;
}

.sale {
    color: white;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-size: 1.5rem;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 2;
}

/* play bar */

.bar {
    width: 30rem;
    height: 1rem;
    background-color: #ccc;
    margin: 5rem auto 0;
    border-radius: 2rem;
    position: relative;
}

.bar-grogress {
    height: 100%;
    width: 50%;
    border-radius: inherit;
    background-color: greenyellow;
}

.bar-circle {
    width: 2rem;
    height: 2rem;
    background-color: greenyellow;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ::before vs ::after */
/* .title::before{
    content: "Toi ten la: ";
}
.title::after{
    content: " hoc CSS";
} */

/* duong line qua text */
.title {
    position: relative;
    padding-left: 2rem;
}

.title::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.line {
    text-align: center;
    position: relative;
}

.line::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: orangered;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.line-text {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

/* icon */
.icon {
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    color: rgb(234, 172, 29);
    /* background-color: orangered;
    opacity: 0.5; */
    position: relative;
    margin: 5rem auto;
}

.icon::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;

}

.icon-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 1; */
}

.effect {
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border: 1px solid orangered;
    margin: 5rem;
    transition: color 0.25s linear;
    position: relative;
    z-index: 1;
}

.effect::before {
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: orange;
    z-index: -1;
    transition: height 0.3s linear;
}

.effect:hover:before {
    height: 100%;
}

.effect:hover {
    color: rgb(179, 32, 32);
}

/* animation 1 */
/* animation dung voi @keyframes */
.ring {
    margin-left: 20px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    border: 5px solid #6a5af9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    /* animation: ten-method tgian-chay chay-bao-lan kieu-chay (linear/ease/cubic-xx) */
    /* animation: spinner 1s infinite linear alternate-reverse; */
    animation: spinner 1s 3 linear forwards;
}

@keyframes spinner {

    /* from */
    from {
        transform: rotate(0);
    }

    /* current */

    /* to */
    to {
        transform: rotate(300deg);
    }

    /* transform: rotate(360deg) */
}

/* animation 1 */
/* animation dung voi @keyframes */
.ring {
    margin-left: 20px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    /* border: 5px solid #6a5af9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent; */
    /* animation: ten-method tgian-chay chay-bao-lan kieu-chay (linear/ease/cubic-xx) */
    /* animation: spinner 1s infinite linear alternate-reverse; */
    /* alternate-chay nguoc lai; infinite-chay mai */
    background-color: #6A5AF9;
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    /* thu tu chay tu: from -> current -> to */

    /* from */
    /* from {
        transform: rotate(0);
    } */

    /* current */

    /* to */
    /* from {
        transform: rotate(-300deg);
    }
    to{
        transform: rotate(360deg);
    } */

    /* transform: rotate(360deg) */
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* tiktok loader */
.loader {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.loader div {
    position: absolute;
    /* left: 0; */
}

.loader div:nth-child(1) {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: #f7004d;
    animation: spinnerTiktok 1s infinite linear;
    animation-delay: -0.5s;
}

/* fake item1 */
.loader div:nth-child(3) {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: #f7004d;
    animation: spinner2 1s linear infinite;
    animation-delay: -0.5s;
}

.loader div:nth-child(2) {
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    background-color: #3affff;
    animation: spinnerTiktok 1s infinite linear;
}

@keyframes spinnerTiktok {

    /* thu tu chay tu: from -> current -> to */
    /* chia nho thi dung %; from 0%; to 100% */
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes spinner2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    49.99% {
        opacity: 1;
        transform: translateX(80px);
    }

    50% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 0;
        transform: translate(0);
    }
}

