.img-container {
    width: 600px;
    height: 300px;
    text-align: center;
    /* can phan tu ben trong no ra center */
}

.pic {
    /* display: block; */
    margin: 0 auto;
    /* margin ko co tac dung voi the inline */
    overflow: hidden;
    width: 50%;
    object-fit: cover;
    object-position: bottom;
    height: 50%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* bai 1 */
.box {
    width: 20rem;
    height: 30rem;
    background-color: #ffa400;
    color: black;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 4px;
    /* align-items: center; */
    text-align: center;
    border: 4px solid yellow;
}

/* bai 2 */
.box2 {
    max-width: 50rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

/* bai 3 */
.box3 {
    max-width: 10rem;
    /* display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: green;
}

/* bai 4 */
.box4 {
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1689015040813-e16a11fc3085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=436&q=80") no-repeat center right / cover;
    /* background-size: cover;
    background-position: right;
    background-repeat: no-repeat; */
}

/* bai5 */
/* .box5{
    width: 40rem;
    height: 40rem;
}
.box5.img{
    object:fit;
    overflow: hidden;
} */
.image {
    width: 40rem;
    height: 40rem;
    /* hinh tron */
    border-radius: 50%;
    object-fit: cover;
}

/* bai 7 */
.link {
    text-decoration: none;
    padding: 1rem 5rem;
    text-align: center;
    background: violet;
    color: white;
    margin-left: 2rem;
}

.link--rounded {
    border-radius: 5px;
}

.link--round {
    border-radius: 2rem;
}

.link:hover {
    background-color: white;
    color: black;
}

/* gradient box & text */
.boxed {
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
}

.title {
    font-weight: bold;
    font-size: 3rem;
    background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* background overlay gradient */
.background {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(125, 230, 73, 0.8) 30%, rgba(0, 195, 255, 0.7) 50%), url("https://images.unsplash.com/photo-1606041008023-472dfb5e530f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxvd2VyfGVufDB8fDB8fHww&auto=format&fit=crop&w=1000&q=60");
    background-size: cover;
}

/* dang kiem tra la ko ho tro */
@supports (-webkit-background-clip: text) {
    .title {
        background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

/* opacity visibility display */
.boxed {
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, brown 30%, blue 50%);
    cursor: pointer;
    /* opacity: 0; */
    /* opacity van chiem dien tich,co the  nhan vo dc */
    /* visibility:hidden; */
    /* visibility: van chiem dien tich, n0 ko nhan vo duoc */
    display: none;
    /* display:none -> bien mat hoan toan */
}

/* shadow box */
.shadow {
    width: 20rem;
    height: 20rem;
    background-color: black;
    margin: 5rem auto;
    box-shadow: 15px 19px 14px 20px rgba(47, 78, 255, 0.548);
    /* box-shadow: x y blur scale color
        de chay bong sang phai dung so -x
        scale = 0 no se trung voi item;
        khong anh huong phan tu khac; ko day phan tu khac
    */
}

/* shadow text */
.shadow-text {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 5px 5px 10px orangered;
}

:root {
    --primary-color: #00aefd;
    --second-color: #ffa400;
    /* sd: var(--second-color)
        co the sd bien cuc bo cung ten de cai de mau trong 1 item nao do;
    */
}

/* do uu tien css
    tag < class <tag.class < id <tag.id < inline < !important
    class < tag.class

    inline & important sieu manh
*/

#title {
    color: blueviolet;
}

/* 1 0 0 */
h2#title {
    color: pink;
}

/* 1 0 1 */

.title {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
}

/* 0 1 0 */

/* h2{
    color: blue !important;
} */


h2.title {
    color: blue;
}

/* 0 1 1 */

/* (x,y,z) -> (tags, class or attribute, id) */

/* child selector */
ul {
    font-size: 4rem;
    font-weight: bold;
}

li:first-child {
    color: red;
}

li:last-child {
    color: aqua;
}

li:nth-child(2) {
    color: pink;
}

li:nth-child(4) {
    color: blueviolet;
}

/* chon khi sinh code dong */
/* nth-last-child -> hoat dong tu cuoi len tren; 
    nguoc voi nth-child
    vd: cai ke cuoi
*/
li:nth-last-child(2) {
    color: yellowgreen;
}

/* cho tat ca tru cai dau tien */
li:not(:first-child) {
    color: green;
}

/* khong phai cai cuoi cung */
li:not(:last-child) {
    color: brown;
}

/* cho phan tu le - odd */
li:nth-child(odd) {
    color: chartreuse;
}

/* chon phan tu chan - even */
li:nth-child(even) {
    color: crimson;
}

/* n o day la chi so index chay tu 0; 
    vd: 1, 3, 5
*/
li:nth-child(2n + 3) {
    color: rgb(216, 237, 31);
}

/* combination */
/* dau + la lien ke */
h3+.title {
    color: green;
}

/* dau ~ cung cap nhung khong nhat thie la lien ke */
h3~.title2 {
    color: red;
}

/* selector nang cao */
/* vd: lua chon the a co href start= https */

a[href^="https"] {
    color: red;
}

/* the a ket thuc voi .vn */
a[href$=".vn"] {
    color: cyan;
}

/* cho chua = * */
a[href*="www"] {
    color: brown;
}

div[data-title="value"] {
    color: blueviolet;
}

p::first-letter {
    color: red;
    font-size: 4rem;
}

p::first-line {
    color: cadetblue;
}

/* basic transition */
.boxed2 {
    /* font-size: 20rem; */
    width: 20rem;
    height: 20rem;
    background-color: red;
    transition: background-color 1s linear, color 1.2s ease;
    opacity: 0;
    /* visibility: hidden; */
    /* display: none; */
    /* transition: background-color 1s linear;
    transition-delay: 1s; */
    /* transition: hieu ung thay doi khi chuyen dong
        transition: property timer easing;
    */
    /* ap dung toan bo */
    /* transition: all 0.2s ease-in-out; */
    /* transition khong ap dung dc voi display:none */
}

.wrap {
    width: 20rem;
    height: 20rem;
}

.wrap:hover .boxed2 {
    display: inline-block;
}

.boxed2:hover {
    background-color: green;
    color: white;
    opacity: 1;
}

.text-gradient {
    display: inline-block;
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    /* gradient for text */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, #ff4895, #ffd96a);
}

.button {
    display: inline-block;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 6px;
    margin: 2rem;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #50cfc6, #68ecac);
    box-shadow: 0 0 10px 0 rgba(104, 236, 172, 0.852);
}

.color__item {
    width: 10rem;
    height: 15rem;
    border-radius: 4px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    transition: background-color 0.25s linear;
}

.color__item:first-child {
    background-color: #a24bf0;
}

.color__item:first-child:hover {
    background-color: #d91fb7;
}

.color__item:nth-child(2) {
    background-color: #38dbb2;
}

.color__item:nth-child(3) {
    background-color: #3881db;
}

.color__item:nth-last-child(2) {
    background-color: #c5db38;
}

.color__item:last-child {
    background-color: #da7070;
}

.color__item:nth-child(odd) {
    background-color: #e29b15;
}

.color__item:nth-child(even) {
    background-color: #c86d12;
}

.color__item:not(:last-child) {
    background-color: #1bed96;
}

.color__item+.color__item {
    background-color: #e01a8a;
}

.color__item~.color__item {
    background-color: #c6a0a0;
}

/* bai 4 */
.color__item:hover {
    background-color: green;
}

/* bai 5 */
div[data-link^="https"] {
    color: rgb(93, 4, 4);
}

div[data-link$=".vn"] {
    color: orange;
}

div[data-name*="hello"] {
    color: antiquewhite;
}

input[type="email"] {}

input[name="fullname"] {}

