/* selector nang cao */
/* vd: lua chon the a co href start= https */

a[href^="https"]{
    color: red;
}

/* the a ket thuc voi .vn */
a[href$=".vn"]{
    color: cyan;
}

/* cho chua = * */
a[href*="www"]{
    color:brown;
}

div[data-title="value"]{
    color: blueviolet;
}

p::first-letter{
    color: red;
    font-size: 4rem;
}

p::first-line{
    color: cadetblue;
}