/* ::before vs ::after */
/* .title::before{
    content: "Toi ten la: ";
}
.title::after{
    content: " hoc CSS";
} */

/* duong line qua text */
.title{
    position: relative;
    padding-left: 2rem;
}
.title::before{
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: blue;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.line{
    text-align: center;
    position: relative;
}
.line::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: orangered;
    position: absolute;
    left:0;top:50%;
    transform: translateY(-50%);
}
.line-text{
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

/* icon */
.icon{
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    color: rgb(234, 172, 29);
    /* background-color: orangered;
    opacity: 0.5; */
    position: relative;
    margin: 5rem auto;
}
.icon::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;

}

.icon-user{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    /* opacity: 1; */
}

.effect{
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border: 1px solid orangered;
    margin: 5rem;
    transition: color 0.25s linear;
    position: relative;
    z-index: 1;
}

.effect::before{
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    bottom:0; right:0;
    background-color: orange;
    z-index: -1;
    transition: height 0.3s linear;
}

.effect:hover:before{
    height: 100%;
}

.effect:hover{
    color: rgb(179, 32, 32);
}